<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject2024"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CarListForCustomer"
            android:exported="false" />
        <activity
            android:name=".ReserveList"
            android:exported="false" />
        <activity
            android:name=".CustomerButtons"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.AdminCompanyManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.AdminHomeScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.AdminCustomerManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin_activities.AddAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpAsCompanyActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up_as_company"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidProject2024.NoActionBar" />
        <activity
            android:name=".SignUpAsRentalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpAsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarListForCompany"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>